# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

**/yarn-error.log

# Go stuff
server/server
server/tmp/**
server/*.xml
server/server.exe

# secrets, ssssh!
**/.env
secrets.sh
.secrets
myparams.json

# unit test reports, yawn!
**/report.xml
**/coverage/**
unit-tests-frontend.xml
test-report.html
server_tests.txt
bin/**
tmp/**
node_modules