# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

**/yarn-error.log

# Go stuff
server/server
server/server.exe
**/go.sum

# secrets, ssssh!
**/.env

# unit test reports, yawn!
**/report.xml

secrets.sh

infra/bicep
infra/*.json