/*
$gr1: #52bf90;
$gr2: #49ab81;
$gr3: #419873;
$gr4: #398564;
$gr5: #317256;
*/

$theme-colors: (
  "primary": #419873,
  "success": #49ab81,
  "info": #52bf90
);

@import "node_modules/bootstrap/scss/bootstrap";
