GH_PAT=__CHANGE_ME__
GITHUB_TOKEN=__SAME_AS_GH_PAT__
AZURE_CREDENTIALS={"clientId": "", "clientSecret": "", "subscriptionId": "", "tenantId": ""}
WEATHER_API_KEY=__CHANGE_ME__
IPSTACK_API_KEY=__CHANGE_ME__
AUTH_CLIENT_ID=__CHANGE_ME__